* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 900px;
	margin: 0 auto;
	font-family: 'Playfair Display';
}

/* site navigation */

.page-header {
	padding-top: 76px;
	padding-bottom: 104px;
}

.nav-ul {
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	margin-right: 70px;
}

a {
	text-decoration: none;
	color: #626262;
}

.nav-ul a:hover {
	color: #03a9f4;
}

.nav-li {
	display: inline;
	margin-right: 100px;
}

.nav-ul li:last-child {
	margin-right: 0px;
}

.images {
	margin-bottom: 104px;
}
.section-ul {
	list-style: none;
	font-size: 0px;
	padding-bottom: 58px
}

.section-li {
	width: 420px;
	display: inline-block;
	margin-right: 60px;
}

.section-li:nth-child(2n) {
	margin-right: 0px;
}

.section-li:nth-last-child(-n +2) {
	margin-top: 100px;
}

section h2 {
	font-size: 30px;
}

.category {	
	margin-bottom: 32px;
	color: #b4ad9e;
	font-size: 14px;
}

.sections-title {
	margin-bottom: 40px;
	color: #626262;
}

.text {
	color: #626262;
	font-size: 14px;
}

.btn-more {
	display: block;
	margin: 0 auto;
	padding: 21px 32px;
	outline: 1px solid #626262;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	font-family: "Playfair Display";
}

.btn-more:hover {
	color: #626262;
}